*{
  
    padding: 0%;
    box-sizing: border-box;
  }
  body { 
    font-family: "Audiowide", sans-serif; 
    margin: 0%;
    background-color: black;
  }
  .title {
      background-color: aliceblue;
      color: black;
      border-radius: 30px; 
      padding:20px;
      margin-top: 20px;
    
    
    }
    .container1 {
      border-radius: 20px;
      display: flex;
      align-items: center;
      background-color:gray;
     
    }
    
    form input {
      flex:1;
      border: 5px;
      outline:none;
      border-radius: 30px;
      width:200px ;
      height: 40px;
      text-align: center;
      background-color: gray;
      font-size: 20px;
      cursor: pointer;
    }
    form i  {
      cursor: pointer;    
      align-self: center;
      margin-left: 20px;
      color: black;
      text-align: center;
    }
    
    
    
    .nav {
      position:fixed; 
      width:100% ;   
      z-index:100%;
      font-size: medium;
      padding: 15px;
      background-color: rgb(34, 32, 32);
      margin: 0%;
      display: flex;
      justify-content: space-between;
      top:0%;
      left:0%;
      z-index: 100;
    }
    
    .nav a {
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      display: block;
     
    }
    
    .nav a.active {
      
      background-color: green;
      color: antiquewhite;
      border-radius: 30px;
      
    }
    .nav a:hover:not(.active) {
      background-color: gainsboro;
      color:black;
      border-radius: 30px;
    }
    .sidenav {
      height: 100%;
      width: 200px;
      position:fixed;
      top: 80px;
      left: 0px;
      background-color: rgb(34, 32, 32);
      border-radius: 30px;
      text-align: center;
    
    }
    
    .sidenav a {
    color: rgb(95, 89, 89);
    padding: 15px;
    text-decoration: none;
    display: block;
  
    
    }
    .sidenav a:hover {
      background-color:gray;    
      color:black;
      border-radius: 30px;
    }
    .frambox {
      margin-top:100px;
      margin-left:550px;
      width:245px;
      height: 300px;
      background-color: rgb(95, 89, 89);
      display:flex;
      border-radius:20px;
    }
    .frambox div {
      text-align:center;
      padding:20px 20px 0px 13px;
      font-size: 20px;
      font-weight:30px;
      letter-spacing:1px;
    }
    .frambox div img {
      border-radius:20px;   
    }
    .playbuttons {
      text-align: center;
      color:whitesmoke;
      height:150px ;
      margin-left:245px ;
    
      margin-right:245px;
      padding:30px ;
      
    }
    .playbuttons input {
        width:80%;
          
    }
    .playbuttons button {
      width:50px ;
      height:50px ;
      border-radius:20px ;
      margin-left: 25px ;
     justify-content: center;
  
    }